
<h1> DashBoard </h1>
<div class="panel panel-default items">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th> Count of products in database </th>
        <th> Count of categories in database </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th> <%= @product %></th>
        <th> <%= @category.count %></th>
      </tr>
    </tbody>
    </table>
</div>


